<div class= "row flex-xl-nowrap">
    <div class= "col-md-3">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-7 pl-md-5 py-md-4">
        <div class="card">
            <div class="card-header">
              ng new MyApp
            </div>
            <div class="card-body">
              <h5 class="card-title">Creating a project</h5>
              <p class="card-text">In order to create a new project after the instalation of Angular CLI you only need to write in the terminal:</p>
              <p>
                <span class="alert alert-info">ng new </span>
                <span class="alert alert-warning">MyApp</span>
              </p>
              <p class="card-text">where 'MyApp', is the name of your project.</p>
            </div>
          </div>
    </div>
</div>