<div class= "row flex-xl-nowrap">
  <div class= "col-md-3">
      <app-sidebar></app-sidebar>
  </div>
  <div class="col-md-7 pl-md-5 py-md-4">
      <div class="card w-75">
          <div class="card-body">
            <div class="card-body">
              <h4 class="card-title">ngFor Directive</h4>
              <p class="card-text">In order to create a new project after the instalation of Angular CLI you only need to write in the terminal:</p>
              <p>
                <span class="alert alert-primary ">ng new <span class="alert-dark ">MyApp</span></span>
              </p>
              <p class="card-text">where 'MyApp', is the name of your project.</p>
            </div>
          </div>
      </div>
  </div>
</div>