<div class= "row flex-xl-nowrap">
    <div class= "col-md-3">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-7 pl-md-5 py-md-4">
        <div class="card w-75">
            <div class="card-body">
              <div class="card-body">
                <h4 class="card-title">Creating a component</h4>
                <p class="card-text">If you want to create a component you only need to go to the path of your project and write in the terminal:</p>
                <p>
                  <span class="alert alert-primary ">ng generate component <span class="alert-dark ">MyComponent</span></span>
                </p>
                <p class="card-text">or</p>
                <p>
                  <span class="alert alert-primary ">ng g c <span class="alert-dark ">MyComponent</span></span>
                </p>
                <p class="card-text">where 'MyComponent', is the name of your component.</p>
              </div>
            </div>
        </div>
    </div>
</div>